@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Nebula";
  src: url(/fonts/nebula/Nebula-Regular.otf);
}

@font-face {
  font-family: "Metropolis";
  src: url(/fonts/metropolis/Metropolis-Regular.otf);
}

@font-face {
  font-family: "MetropolisBold";
  src: url(/fonts/metropolis/Metropolis-Bold.otf);
}

body {
  overflow-x: hidden;
}

button.create {
  background: linear-gradient(90deg, #ffbb34 -2.75%, #ff256f 100%), #1a1a1a;
  box-shadow: 8px 8px 8px 0px rgba(255, 255, 255, 0.2) inset;
}
div.choose,
div.menu {
  position: relative;
  border: 3px solid transparent;
}

div.card,
div.pick,
.review,
.view {
  position: relative;
}

div.pick {
  background: linear-gradient(270deg, #ffbb34 0%, #ff256f 120.55%);
}
div.choose::before,
div.menu::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 3px;
  border-radius: inherit;
  background: linear-gradient(90deg, #ffbb34 -2.75%, #ff256f 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

div.card::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 0.5px;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff256f -2.75%, #ffbb34 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.4;
}
.review::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff256f -2.75%, #ffbb34 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.6;
}

.view::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1.5px;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff256f -2.75%, #ffbb34 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
  opacity: 0.6;
}

.view {
  border-radius: 20px 0px;
}

.resolve {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.1);
  background: #212832;
}

div.pick::before {
  content: "";
  position: absolute;
  inset: 0;
  padding: 1px;
  border-radius: inherit;
  background: linear-gradient(90deg, #ff256f -2.75%, #ffbb34 100%);
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}
input:focus {
  border: 1px solid var(--gradient, #ffbb34);
}

.stat-number {
  background: var(
    --new-gradient-text,
    linear-gradient(270deg, #ffb835 62.68%, #ffbb34 66.3%, #ff256f 120.55%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
input.search {
  color: rgba(255, 255, 255, 0.6);
  background: transparent;
}
input.search:focus {
  border: none;
}

button.google,
button.apple {
  box-shadow: 2px 2px 8px 0px rgba(146, 179, 189, 0.2);
}

div.slide {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

div.slide button {
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background: #fff;
}

div.slide button.active {
  width: 40px;
  height: 10px;
  border-radius: 10px;
  background: linear-gradient(90deg, #ffbb34 -2.75%, #ff256f 100%), #fff;
}

div.sport p {
  color: rgba(255, 255, 255, 0.4);
}

div.code input {
  background: transparent;
  border: 1px solid var(--gradient, #ffbb34);
  position: relative;
}

.nav {
  border-radius: 500px;
  border: 1px solid #37393c;
  background: rgba(30, 30, 30, 0.2);
}

.launching {
  color: rgba(255, 255, 255, 0.6);
}

.header-text {
  background: linear-gradient(180deg, #fff 25%, #0c1711 343.26%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: cursive;
  font-family: "Nebula", cursive;
}

.today-name {
  font-family: cursive;
  font-family: "Nebula", cursive;
}

.today-div {
  background: linear-gradient(270deg, #ffbb34 0%, #ff256f 120.55%);
}

.pick-number {
  border-radius: 8px;
  background: rgba(42, 42, 42, 0.5);

  box-shadow: 0px 0px 4px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
.header-para {
  background: linear-gradient(180deg, #fff 0%, rgba(255, 255, 255, 0) 432.86%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
button.second {
  border-radius: 100px;
  border: 1px solid var(--gradient, #ffbb34);
  box-shadow: 0px 1px 2px 0px rgba(62, 34, 13, 0.5), 0px 0px 0px 2px #671d13;
  background: var(
    --gradient,
    linear-gradient(270deg, #ffbb34 0%, #ff256f 120.55%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.send-box {
  border-radius: 100px;
  border: 1.235px solid rgba(255, 255, 255, 0.12);

  background: #2c2c2e;
}

.send-box input {
  background: transparent;
}

.custom-sidebar .ps-sidebar-container {
  background-color: #1e1e1e !important;
  color: white;
  border-right: none !important;
  box-shadow: none !important;
  outline: none !important;
}

.ready {
  color: rgba(255, 255, 255, 0.6);
}

.icon {
  background: rgba(255, 255, 255, 0.12);
}

.upcoming {
  opacity: 0.9;
}

.match {
  border-radius: 12px;
  border: 1px solid rgba(255, 255, 255, 0.12);
}

.alert-box {
  border-bottom: 1px solid rgba(255, 255, 255, 0.05);
  background: #1e1e1e;
  box-shadow: 0px 7px 4px 0px rgba(0, 0, 0, 0.02),
    0px 3px 3px 0px rgba(0, 0, 0, 0.03), 0px 1px 2px 0px rgba(0, 0, 0, 0.04),
    0px 0px 0px 0px rgba(0, 0, 0, 0.04);
}

.read {
  background: var(
    --gradient,
    linear-gradient(270deg, #ffbb34 0%, #ff256f 120.55%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.alert-item {
  border: 1px solid rgba(255, 255, 255, 0.05);
  background: #1e1e1e;
  padding: 16px 16px 16px 24px;
}

.ago {
  color: rgba(250, 250, 250, 0.6);
}

.filter {
  border-radius: 24px;
  background: linear-gradient(270deg, #ffbb34 19.7%, #ff256f 150%);
}
